body {
    padding-top: 50px;
}

.nav-item {
	padding-left: 20px;
	padding-right: 20px;
}

.jumbotron {
	margin-bottom: 0px;
}

.content_container {
	/* background-color: #B9D4D3; */
	background-color: white;
}

.login_container {
	width: 350px;
	margin-left: 55px;
}

.borderless td, .borderless th {
    border: none;
}

.welcome_logo {
	width: 500px;
}